<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>servlet_get_product</display-name>
    <servlet-name>servlet_get_product</servlet-name>
    <servlet-class>servlet_get_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_get_product</servlet-name>
    <url-pattern>/servlet_get_product</url-pattern>
  </servlet-mapping>
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet_update_number</display-name>
    <servlet-name>servlet_update_number</servlet-name>
    <servlet-class>servlet_update_number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_update_number</servlet-name>
    <url-pattern>/servlet_update_number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_decrease_number</display-name>
    <servlet-name>servlet_decrease_number</servlet-name>
    <servlet-class>servlet_decrease_number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_decrease_number</servlet-name>
    <url-pattern>/servlet_decrease_number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_back_shop</display-name>
    <servlet-name>servlet_back_shop</servlet-name>
    <servlet-class>servlet_back_shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_back_shop</servlet-name>
    <url-pattern>/servlet_back_shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_payment</display-name>
    <servlet-name>servlet_payment</servlet-name>
    <servlet-class>servlet_payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_payment</servlet-name>
    <url-pattern>/servlet_payment</url-pattern>
  </servlet-mapping>
</web-app>